[DEFAULT]
Module=pyFilmQAmod
Language=python
Version=3.x
configpath=./
dxfPlanExportPath=./
dxfFilmExportPath=./

[Scanner]
Brand=Microtek
Model=1000XL
format=TIFF
mode=Transmission
dpi=72
coding=RGB
bitdepth=16

[DosePlane]
Dmax=12
PixelSize=1
PixelUnit=mm
PixelNumber=160x160
SizeUnit=mm
Width=160
Height=160

[Segmentation]
File=bb.csv

[Base]
margin=5
marginUnit=pixel

[Models]
File=RacMPhMCalibs.xlsx
mphSheet=MultiFase
racSheet=Racionales
oadcFile=Microtek1000XLOADc.npy

[Calibration]
Mode=PDD
Dmax=6
Energy=6
Eunit=MV
Unit=cm
FieldWidth=10
FieldHeigh=10
UM=346.5
DFS=75
Path=./
File=PDDCalib.xlsx
Sheet=Hoja1
Shift=1
DepthMin=2
DepthMax=17.5

[NonLocalMeans]
PatchSize=3
PatchDistance=10
h=0.05
Multichannel=True
ChannelAxis=2
wRed=10
wGreen=5
wBlue=1

[Demographics]
PatientId=
PatientName=
PatientFamilyName=
Gender=



