numpy>==1.23.5
ipywidgets==7.6.5
jupyter==1.0.0
jupyter-bbox-widget==0.4.0
jupyter-client==7.2.2
jupyter-console==6.4.3
jupyter-core>==4.11.2
jupyterlab
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
lmfit==1.0.3
matplotlib==3.5.1
matplotlib-inline==0.1.2
nbclient==0.5.13
nbconvert>==6.5.1
nbformat==5.3.0
notebook>==6.4.12
openpyxl==3.0.9
pandas==1.4.2
pandocfilters==1.5.0
pip>==21.2.4
pydicom==2.3.0
scikit-image==0.19.2
scipy==1.7.3
tifffile==2021.7.2
tqdm==4.64.0
uncertainties==3.1.6
widgetsnbextension==3.5.2
ipympl>==0.9.2
